body
{
    font: 11pt sans-serif;
}

table
{
    border-collapse: collapse;
}

td, th
{
    border: 1px solid gray;
    vertical-align: top;
    padding: 0.5em 1em;
}

a
{
    color: blue;
}

.list-object-expand
{
    text-align: right;
}

.list-object-expand a
{
    font-size: smaller;
    color: silver;
}

.list-object.collapsed
{
    max-height: 10em;
    overflow: hidden;
    border-bottom: 1px solid silver;
}
