body
{
    font: 11pt sans-serif;
}

table
{
    border-collapse: collapse;
}

td, th
{
    border: 1px solid gray;
    vertical-align: top;
    padding: 0.5em 1em;
}

a
{
    color: blue;
}

.list-object-expand
{
    text-align: right;
}

.list-object-expand a
{
    font-size: smaller;
    color: silver;
}

.list-object.collapsed
{
    max-height: 10em;
    overflow: hidden;
    border-bottom: 1px solid silver;
}

/* highlighting */

.list-object .hll { background-color: #ffffcc }
.list-object .c { color: #408080; font-style: italic } /* Comment */
.list-object .err { border: 1px solid #FF0000 } /* Error */
.list-object .k { color: #008000; font-weight: bold } /* Keyword */
.list-object .o { color: #666666 } /* Operator */
.list-object .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.list-object .cp { color: #BC7A00 } /* Comment.Preproc */
.list-object .c1 { color: #408080; font-style: italic } /* Comment.Single */
.list-object .cs { color: #408080; font-style: italic } /* Comment.Special */
.list-object .gd { color: #A00000 } /* Generic.Deleted */
.list-object .ge { font-style: italic } /* Generic.Emph */
.list-object .gr { color: #FF0000 } /* Generic.Error */
.list-object .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.list-object .gi { color: #00A000 } /* Generic.Inserted */
.list-object .go { color: #808080 } /* Generic.Output */
.list-object .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.list-object .gs { font-weight: bold } /* Generic.Strong */
.list-object .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.list-object .gt { color: #0040D0 } /* Generic.Traceback */
.list-object .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.list-object .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.list-object .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.list-object .kp { color: #008000 } /* Keyword.Pseudo */
.list-object .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.list-object .kt { color: #B00040 } /* Keyword.Type */
.list-object .m { color: #666666 } /* Literal.Number */
.list-object .s { color: #BA2121 } /* Literal.String */
.list-object .na { color: #7D9029 } /* Name.Attribute */
.list-object .nb { color: #008000 } /* Name.Builtin */
.list-object .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.list-object .no { color: #880000 } /* Name.Constant */
.list-object .nd { color: #AA22FF } /* Name.Decorator */
.list-object .ni { color: #999999; font-weight: bold } /* Name.Entity */
.list-object .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.list-object .nf { color: #0000FF } /* Name.Function */
.list-object .nl { color: #A0A000 } /* Name.Label */
.list-object .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.list-object .nt { color: #008000; font-weight: bold } /* Name.Tag */
.list-object .nv { color: #19177C } /* Name.Variable */
.list-object .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.list-object .w { color: #bbbbbb } /* Text.Whitespace */
.list-object .mf { color: #666666 } /* Literal.Number.Float */
.list-object .mh { color: #666666 } /* Literal.Number.Hex */
.list-object .mi { color: #666666 } /* Literal.Number.Integer */
.list-object .mo { color: #666666 } /* Literal.Number.Oct */
.list-object .sb { color: #BA2121 } /* Literal.String.Backtick */
.list-object .sc { color: #BA2121 } /* Literal.String.Char */
.list-object .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.list-object .s2 { color: #BA2121 } /* Literal.String.Double */
.list-object .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.list-object .sh { color: #BA2121 } /* Literal.String.Heredoc */
.list-object .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.list-object .sx { color: #008000 } /* Literal.String.Other */
.list-object .sr { color: #BB6688 } /* Literal.String.Regex */
.list-object .s1 { color: #BA2121 } /* Literal.String.Single */
.list-object .ss { color: #19177C } /* Literal.String.Symbol */
.list-object .bp { color: #008000 } /* Name.Builtin.Pseudo */
.list-object .vc { color: #19177C } /* Name.Variable.Class */
.list-object .vg { color: #19177C } /* Name.Variable.Global */
.list-object .vi { color: #19177C } /* Name.Variable.Instance */
.list-object .il { color: #666666 } /* Literal.Number.Integer.Long */
