{% extends 'layout.html' %}
{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.6.2.min.js') }}"></script>
<script type="text/javascript">
$(function() {
    $('.list-object-expand a').click(function() {
        var $this = $(this);
        var object = $this.parent().next();

        object.toggleClass('collapsed');
        if (object.is('.collapsed'))
            $this.text('expand');
        else
            $this.text('collapse');

        return false;
    });
});
</script>
{% endblock %}
{% block body %}
<h1>
    <a href="{{ url_for('.index') }}">root</a>/<a href="{{ url_for('.database', db_name=db_name) }}">{{ db_name }}</a>/{{ coll_name }}
</h1>


<p>
    <a href="{{ url_for('.add', db_name=db_name, coll_name=coll_name) }}">add</a>
</p>

<table>
    <tr>
        <th>id</th>
        <th>content</th>
        <th>actions</th>
    </tr>
    {% for object in objects %}
    <tr>
        <th>{{ object._id }}</th>
        <td>
            <div class="list-object-expand"><a href="#">expand</a></div>
            <pre class="list-object collapsed">{{ render_object(object) }}</pre>
        </td>
        <td>
            <a href="{{ url_for('.edit', db_name=db_name, coll_name=coll_name, id=object._id|tojson) }}">edit</a>
            |
            <a href="{{ url_for('.delete', db_name=db_name, coll_name=coll_name, id=object._id|tojson) }}">delete</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No objects.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}