{% extends 'layout.html' %}
{% block body %}
<h1>
    <a href="{{ url_for('.index') }}">root</a>/{{ db_name }}
</h1>

<p>
    <a href="{{ url_for('.create_collection', db_name=db_name) }}">create collection</a>
</p>

<table>
    <tr>
        <th>name</th>
        <th>count</th>
        <th>actions</th>
    </tr>
    {% for coll, count in colls|sort %}
    <tr>
        <td><a href="{{ url_for('.collection', db_name=db_name, coll_name=coll) }}">{{ coll }}</a></td>
        <td>{{ count }}</td>
        <td><a href="{{ url_for('.drop_collection', db_name=db_name, coll_name=coll) }}">drop</a></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No collections.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
