{% extends 'layout.html' %}
{% block body %}
<h1>
    <a href="{{ url_for('.index') }}">root</a>/<a href="{{ url_for('.database', db_name=db_name) }}">{{ db_name }}</a>/<a href="{{ url_for('.collection', db_name=db_name, coll_name=coll_name) }}">{{ coll_name }}</a>/{{ id }}
</h1>

{%- if error %}
<p style="color:red">{{ error }}</p>
{% endif -%}

<form action="" method="post">
    <div>
        <textarea name="value" cols="40" rows="10">{{ value }}</textarea>
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>
{% endblock %}